<h1>INSIS</h1>
    <div class="col-md-8">
    <table class="table table-striped table-hover">

        <p>Welcome {{user.0.nome}}</p>

    <thead>
        <tr>
            <th>Campaign Content</th>
        </tr>
    </thead>

    <tbody>
        {{#each info}}
            <tr>
                <td>{{this.conteudo}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>