<h1>INSIS</h1>
<div class="col-md-8">
    <table class="table table-striped table-hover">

        <p>Welcome {{user.0.nome}}</p>

        <thead>
            <tr>
                <th>Profile</th>
            </tr>
        </thead>

        <tbody>
            {{#each info}}
            <tr>
                <td>Nome:</td>
                <td>{{this.nome}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{this.email}}</td>
            </tr>
            <tr>
                <td>Localidade:</td>
                <td>{{this.localidade}}</td>
            </tr>
            <tr>
                <td>Pais:</td>
                <td>{{this.pais}}</td>
            </tr>
            <tr>
                <td>Lingua:</td>
                <td>{{this.lingua}}</td>
            </tr>
            <tr>
                <td>Subscrito:</td>
                <td>{{this.canais}}</td>
            </tr>
            <tr>
                <td>Mudar Subscrição:</td>
                <td>
                    <form action="http://18.130.69.231:9002/destinatario/1/update" method="GET">
                        <select name="myselect" id="myselect" onchange="this.form.submit()">
                            <option value="0">Choose...</option>
                            <option value="SMS">SMS</option>
                            <option value="Email">Email</option>
                            <option value="Social">Social Platform</option>
                        </select>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>