<h1>INSIS</h1>
    <div class="col-md-8">
    <table class="table table-striped table-hover">

        <p>Welcome <a href="http://18.130.69.231:9002/destinatario/{{user.0.chave}}">{{user.0.nome}}</a>  </p>

    <thead>
        <tr>
            <th>Campaign Content</th>
        </tr>
    </thead>

    <tbody>
        {{#each info}}
            <tr>
                <td>{{this.conteudo}}
            </tr>
        {{/each}}
    </tbody>
</table>